version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: clinic_postgres
    restart: always
    environment:
      POSTGRES_USER: clinic_user
      POSTGRES_PASSWORD: clinic_password
      POSTGRES_DB: clinic_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongodb:
    image: mongo:latest
    container_name: clinic_mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: adminpassword
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  pgadmin:
    image: dpage/pgadmin4
    container_name: clinic_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: adminpassword
    ports:
      - "5050:80"

volumes:
  postgres_data:
  mongodb_data:
